@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Muli", sans-serif;
  color: #24292e;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto 130px;
  font-size: 1rem;
  padding: 0 4%;
}
.sec-title {
  text-align: center;
  margin-bottom: 65px;
  font-size: 2rem;
}

#header {
  max-width: 960px;
  height: 270px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  & h1.site-title {
    color: #24292e;
  }

  & nav {
    & ul {
      display: flex;
      padding: 10px 0;
      align-items: center;
      & li {
        margin-left: 50px;
        font-size: 1.2rem;

        & a {
          color: #24292e;
        }
        & a:hover {
          opacity: 0.7;
        }
        & img {
          width: 20px;
        }
      }
    }
  }
}

#mainImage {
  margin-bottom: 100px;
  text-align: center;
  & img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
  }
 
}

.fadeinTarget {
  opacity: 0;
  transition: all 2s ease;
  &.show {
    opacity: 1;
  }
}

#about {
  & .about-container {
    display: flex;
    justify-content: center;
  }
  & .myphoto {
    position: relative;
    z-index: 300;
    & img {
      border-radius: 50%;
    }
  }
  & .about-text {
    text-align: left;
    width: 100%;
    max-width: 500px;
    margin-left: 5%;
    font-size: 17px;
  }
}

#skills {
  & .skills-lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
    & li {
      display: flex;
      flex-direction: column;
      width: 16%;
      margin: 20px 0;
      font-size: 17px;
      & i {
        font-size: 32px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

#works {
  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0;
    & li {
      width: 31%;
      margin-bottom: 23px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

#contact {
    .sec-title {
        margin-bottom: 40px;
    }
    p {
        text-align: center;
        font-size: 17px;
        margin-bottom: 50px;
    }
  // Helpers
  @mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  .align-center {
    text-align: center;
  }

  // Grid
  .row {
    @include clearfix;
    margin: -20px 0;
    .col {
      padding: 0 20px;
      float: left;
      box-sizing: border-box;
      &.x-50 {
        width: 50%;
      }
      &.x-100 {
        width: 100%;
      }
    }
  }

  .contact-form {
    .form-field {
      position: relative;
      margin: 32px 0;
    }
    .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 2px 0;
      border-radius: 0%;
      border-color: #24292e;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;

      &:focus {
        outline: none;
      }

      &:focus,
      &:valid {
         + .label {
            transform: translateY(-24px);
         }
      }
    }
    .label {
      position: absolute;
      left: 20px;
      bottom: 11px;
      font-size: 18px;
      line-height: 26px;
      color: #888;
      cursor: text;
      transition: transform 0.2s ease-in-out;
    }
    .submit-btn {
      display: inline-block;
      background-color: #24292e;
      color: #fff;
      letter-spacing: 2px;
      font-size: 16px;
      line-height: 24px;
      padding: 10px 26px;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: #24292e;
        border: 2px solid #24292e;
      }
    }
  }
}

.gotop {
  margin: 30px auto 50px;
  text-align: center;
  & i {
    color: #24292e;
    font-size: 50px;
    transition: 0.3s color;
    &:hover {
      color: #24292e80;
    }
  }
}

footer {
  background-color: #24292e;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 20px;
  & .sns {
    & ul {
      display: flex;
      justify-content: center;
      padding: 0;
      & li {
        list-style-type: none;
        font-size: 25px;
        margin: 5px 15px;
        transition: 0.3s transform;
        &:hover {
          transform: scale(1.18, 1.18);
        }
        & a {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #header {
    flex-direction: column;
    max-width: 100%;
    height: auto;
    & nav ul li {
      margin-left: 20px;
      font-size: 1rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .sec-title {
    margin-bottom: 50px;
  }
  .wrapper {
    margin-bottom: 70px;
  }

  #about {
    .about-container {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
    .about-text {
      margin: 0 auto;
    }
    .myphoto img {
      width: 40%;
      border-radius: 50%;
      margin-bottom: 15px;
    }
  }

  #skills {
    & .skills-lists {
      & li {
        width: 30%;
        font-size: 14px;
        & i {
          font-size: 28px;
        }
      }
    }
  }

  #works {
    & ul {
      flex-direction: column;
      & li {
        width: 100%;
      }
    }
  }

  #contact {
    .row {
      .col {
        &.x-50 {
          width: 100%;
        }
      }
    }
    .contact-form {
      .form-field {
        margin: 20px 0;
      }
    }
  }
}
